<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Elias Liakopoulos</title>
    <link rel="stylesheet" href="styles.css">
  </head>

  <body>

      <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">Skills</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
      </div>



        <img class="photo" src="photo.jpg" alt="">

      <div class="names">
        <h1 >I'm Elias</h1>
        <p  >a programmer</p>
      </div>

      <div class="container">


          <div class="rb-container">
            <ul class="rb">

              <li class="rb-item" ng-repeat="itembx">
                <div class="flex-container">
                  <div class="timestamp">
                    2013<br> June
                  </div>
                  <div class="item-title">Graduating from the 30th High School of Athens.</div>
                 </div>
              </li>

              <li class="rb-item" ng-repeat="itembx">
                <div class="flex-container">
                  <div class="timestamp">
                    2014<br> September
                  </div>
                  <div class="item-title">Admitting Athens University of Economics and Business in the section of Computer Science.</div>
                 </div>
              </li>

              <li class="rb-item" ng-repeat="itembx">
                <div class="flex-container">
                  <div class="timestamp">
                    2014<br> January
                  </div>
                  <div class="item-title">Working as a Videographer and video editor.</div>
                 </div>
              </li>

              <li class="rb-item" ng-repeat="itembx">
                <div class="flex-container">
                  <div class="timestamp">
                    2015 <br> September
                  </div>
                  <div class="item-title">Working as a photographer.</div>
                </div>
              </li>

              <li class="rb-item" ng-repeat="itembx">
                <div class="flex-container">
                  <div class="timestamp">
                    2017<br> October
                  </div>
                  <div class="item-title"> Creating video content for Greek Ministry of Defense.</div>
                 </div>
              </li>

              <li class="rb-item" ng-repeat="itembx">
                <div class="flex-container">
                  <div class="timestamp">
                    2018 <br> June
                  </div>
                  <div class="item-title"> Running own property rental business.</div>
                </div>
              </li>

            </ul>
        </div>

        <div class="skills">
          <img class="icons" src="images/java.png" alt="">
          <img class="icons" src="images/psql.png" alt="">
          <img class="icons" src="images/html.png" alt="">
          <img class="icons" src="images/css.png" alt="">
          <img class="icons" src="images/js.png" alt="">

        </div>

        <p class="footer">© Created And Designed By Elias Liakopoulos • 2022</p>


  </body>
</html>
